@use '../../foundation/mixin' as *;

.p-footerMenu__wrap {
  @include pc {
    display: flex;
    align-items: flex-start;
  }
}

.p-footerMenu__heading {
  @include pc {
    margin-right: 48px;
  }
}

.p-footerMenu__navSp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 40px 0 48px;

  @include tab {
    display: none;
  }
}

.p-footerMenu__navTab {
  display: none;

  @include tab {
    display: flex;
    align-items: flex-start;
    padding: 50px 0;
    gap: 48px;
  }

  @include pc {
    padding-top: 0;
  }
}

.p-footerMenu__left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.p-footerMenu__title {
  font-size: 12px;
  display: flex;
}

.p-footerMenu__list {
  display: flex;
  flex-direction: column;
}

.p-footerMenu__item {
  margin-top: 12px;
}