@use '../../foundation/mixin' as *;

.p-stepWrap {
  padding: 48px 13px;

  @include tab {
    padding: 0 0 64px;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-top: 64px;
      padding-bottom: 0;
    }
  }
}

.p-stepWrap__tab {
  @include tab {
    display: flex;
    align-items: stretch;
    margin-bottom: 50px;
  }
}

.p-stepWrap__frequency {
  background-color: #eecfda;
  padding: 48px 13px;

  @include tab {
    padding: 40px 124x;
    border-radius: 15px;
    margin: 0 -24px;
  }
}

.p-step {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}