@use '../../foundation/mixin' as *;

.p-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 13px;

  @include tab {
    padding-bottom: 32px;
  }
}